/*
	MSBI by MAEDEH MOSAYEBI
*/

/* Basic */

	body, input, select, textarea {
		font-size: 11pt;
	}

	header.major {
		margin-bottom: 4em;
	}

		header.major p {
			font-size: 1.3em;
		}

/* Feature */

	.feature-grid .feature {
		margin-bottom: 2em;
	}

/* Banner */

	#banner {
		padding: 34% 10em 11em 10em;
		background-size: 34%;
	}

		#banner h2 {
			font-size: 2.5em;
		}

/* Wrapper */

	.wrapper.style3 header.major {
		margin-bottom: 2em;
	}